@import url('https://fonts.googleapis.com/css?family=Mina:700|Open+Sans');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(240,243,246, 1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mina', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

svg {
  margin: 20px;
}
