@import url('https://fonts.googleapis.com/css?family=Mina:700|Open+Sans');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #F0F3F6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mina', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

svg {
  margin-right: 2vw;
  cursor: pointer;
}

@media (max-width: 699px) {
  svg {
    margin-left: 2vw;
  }
}
